<!--modal to edit user-->
<div class="modal fade" id="replaceFileModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="replaceFileModalLabel">写真を入れ替える</h4>
      </div>
      <div class="modal-body">
        <%= form_for(event, :url =>{ controller: 'events', action: 'replace' }, multipart: true) do |f| %>
          <%= f.file_field :files, accept:'image/jpg,image/jpeg,image/gif,video/mp4,video/mov,video/wmv' %>
          <br>
          <%= f.submit '変更する', class: 'btn btn-primary' %>
          <input type='hidden' name='file_id' value=nil id='event_file_id' >
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" id='close-modal' class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>