<% users.each do |user| %>
  <div class="friend">
    <%= render 'share/user_profile', user: user %>
    <%= render 'share/user_btn',user: user, relationship: relationship %>
  </div>
  <hr>
<% end %>
