<!--ユーザーリスト-->
<div class="member">
  <ul class="user-list">
    <% members.each do |member| %>
      <li>
        <% if member.user.image? %>
          <%= image_tag(member.user.image.url(:thumb)) %>
        <% else %>
          <%= image_tag("user.jpg") %>
        <% end %>
        <%= member.user.name %>
        <%= check_box_tag 'user_id[]',member.user.id,nil,{} %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
