<div class="container">
  <h1 class="text-center">投稿一覧</h1>
  <!--tab-->
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#sample-tab1" data-toggle="tab">Friends</a></li>
    <li><a href="#sample-tab2" data-toggle="tab">New</a></li>
    <li><a href="#sample-tab3" data-toggle="tab">Hot</a></li>
  </ul>
  
  <!--content-->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active" id="sample-tab1">友達の投稿</div>
    <div role="tabpanel" class="tab-pane fade" id="sample-tab2">新しい投稿</div>
    <div role="tabpanel" class="tab-pane fade" id="sample-tab3">いいねの多い投稿</div>
  </div>
  
  <div class="btn post-btn">
    <%= fa_icon "plus" %>
  </div>
</div>