  // main
  .main-page {
    margin-top: 50px;
  }
  
  // form
  .my-form {
    width: 30%;
  }
  
  // welcome#index
  
  .header-image {
    background-image: url(/assets/header.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    opacity: 0.8;
  }
  