  
  $navbar-bg: #f8f8f8;
  $navbar-bd: #e7e7e7;
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #F5F5F5;
  }
  
  .nav-bar {
    background: #f5f5f5;
  }
  
  .tab-content {
    background: #fff;
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    box-shadow: 0 2px 5px #ccc;
  }
  
  // main
  .main-page {
    margin: 50px 0 50px;
  }
  
  // form
  .my-form {
    width: 30%;
  }
  
  // welcome#index
  
  // header
  .header-image {
    background-image: url(/assets/header.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    opacity: 0.8;
    border-bottom: 1px solid $navbar-bd;
  }
  
  .text-main {
    font-size: 36px;
    color: white;
    padding-top: 200px;
  }
  
  .text-sub {
    font-size: 15px;
    color: white;
  }
  
  .btn {
    margin-right: 10px;
  }
  
  // func
  
  .functions  {
    margin-top: 50px;
    height: 275px;
    vertical-align: middle;
    
    .func {
      margin-top: 30px;
      width: 33%;
      display: inline-block;
      box-sizing: border-box;
      
      .func-icon {
        font-size: 48px;
      }
    }
  }
  
  .footer {
    height: 275px;
    background-color: $navbar-bg;
    text-align: center;
    border-top: 1px solid $navbar-bd;
    
    h3 {
     padding-top: 50px;
    }
  }
  
  // posts index
  
  .btn-post  {
    width: 100px;
    height: 100px;
    background: #ea4335;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;

    i {
      font-size: 36px;
      color: white;
    }
    
    &:hover {
      opacity: 0.8;
    }
  }
  
  .btn-secondary {
    color: white;
    background-color: #aaa;
    
    &:hover {
      opacity: 0.9;
      color: white;
    }
  }
    
  .post-list {
    padding-top: 25px;
    text-align: center;
    
    li {
      list-style: none;
      display: inline-block;
      margin: 5px 5px;
      position: relative;
      
      .like-icon {
        position: absolute;
        bottom: 3px;
        left: 3px;
        text-align: left;
        padding: 2px;
        color: white;
      }
      
      img,video {
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  // post show
  
  .user-wrap {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin: 25px auto;
    padding: 10px;
    height: 300px;
    width: 240px;
    
    .user-img {
      
      img {
        background: $navbar-bg;
        border: 1px solid $navbar-bd;
        border-radius: 50%;
        width: 125px;
        height: 125px;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .user-info {
      padding: 0px 10px;
    }
  }
  
  // btn
  
  .btn-wrap {
    text-align: center;
    
    .btn {
      width: 80%;
    }
  }
  
  // post show col-md-9
  
  .article-wrap {
    margin: 25px auto;
    
    ul.article-files {
      list-style: none;
      overflow-x: auto;
      white-space: nowrap;
      padding: 0;
      
      li {
        display: inline-block;
        
        img,video {
          width: 500px;
          vertical-align: middle;
          
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  
  .like-icon {
    color: #a94442;
  }
  
  .timestamp {
    color: gray;
  }
  
  // event index
  
  .search-win {
    margin: 25px auto;
    
    form {
      display: flex;
      justify-content: center;
    }
    
    .form-control {
      margin: 5px;
      width: 150px;
    }
    
    .btn {
      margin: 5px;
    }
  }
  
  
  ul.event-list {
    list-style: none;
    text-align: center;
    
    li {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px #ccc;
      margin: 5px 5px;
      display: inline-block;
      vertical-align: top;
      
      .event-owner {
        margin: 10px 10px;
        img {
          margin-right: 5px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
      
      .text-left {
        margin: 10px 10px;
      }
      
      .event-photo {
        margin-bottom: 5px;
        width: 300px;
        img, video {
           border-radius: 5px 5px 0 0;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  
  
  h4.modal-title {
    float: left;
  }
  
  // event show
  
  .event-header {
    margin: 10px auto;
  }
  
  // welcome 
  .friend {
    display: flex;
    align-items: center;
    
    .user-image {
      margin: 5px 0;
    }
    img {
      margin: 5px 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid silver;
    }
    
    .profile {
      width: 250px;
      
      small {
        margin: 5px 5px;
      }
    }
    
    .btn {
      margin: 5px 10px;
    }
    
  }
  
  
